body {
  font-family: 'Cabin', sans-serif;
  background-color: #efefd0;
  margin: 0;
}

.main-app > div {
  margin: 10px;
}

a {
  text-decoration: none;
  color: #004e89;
}

a:visited {
  color: #004e89;
}

#nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #c2e7da;
  height: 10%;
  margin: 0;
  padding: 0 1em;
}

#site-name {
  font-family: 'Rock Salt', cursive;
  color: #395480;
  font-size: 2em;
  margin: 0.2em;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
  margin: 1em 0;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.button {
  font-size: 75%;
  margin: 0% 0.5% 1% 0.5%;
  padding: 0.5% 0.5% 0.5% 0.5%;
  font-weight: bold;
  border-radius: 20px 40px 30px 5px;
  box-shadow: 2px 2px 1px midnightblue;
}

.add-cart-button {
  background-image: linear-gradient(to right, #004e89 0%, #eaecc6 100%);
  text-transform: uppercase;
  font-size: 75%;
  margin: 2% 2% 2% 2%;
  font-weight: bold;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 2px 1px midnightblue;
}

.all-products h1 {
  margin: 20px;
}

.products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-container {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.product-price {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.product-title {
  text-align: center;
  font-size: 120%;
}

.admin-products-container {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.admin-prod {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.admin-prod {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.admin-single-prod {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
}

.img {
  max-width: 100%;
  height: auto;
}

.admin-prod-info {
  display: flex;
  flex-direction: column;
}

.row-padding {
  padding-left: 5%;
  padding-right: 25%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: purple;
  border-style: outset;
}

.board-game-form {
  display: flex;
  flex-direction: column;
  background-color: ivory;
  font-size: 80%;
  padding: 5px 15px 5px 15px;
  border: 5px;
  color: black;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cart {
  width: 70%;
}

.cart tfoot {
  margin: 1em;
}

#footer-container {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 3em;
  font-size: 80%;
}
